<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <!-- <title>Login</title> -->
</head>

<body>
    <section class="h-100">
        <div class="container h-100">
            <div class="row justify-content-sm-center h-100">
                <div class="col-xxl-4 col-xl-5 col-lg-5 col-md-7 col-sm-9">

                    <div class="card shadow-lg">
                        <div class="container">

                            <rg-gauge-chart [canvasWidth]="canvasWidth" [needleValue]="needleValue"
                                [centralLabel]="centralLabel" [options]="options" [name]="name"
                                [bottomLabel]="bottomLabel"></rg-gauge-chart>
                        </div>

                    </div>

                </div>
            </div>
        </div>
    </section>

</body>

</html>