//Base Colors
$white: #ffffff;
$black: #000000;

//Theme Colors
$weexcel: #F58220;
$primary: #008ADD;
$primary-light: rgba($primary, 0.3);
$success: #41D400;
$success-light: rgba($success, 0.3);
$danger: #F62828;
$danger-light: rgba($danger, 0.3);
$light: #F1F5F9;

//Text
$text-light: #D4D4D4;
$text-dark: #838383;
$p-title-type: #858585;

//Border
$border-color: #dddddd;

//Backgrounds
$body-background: #F1F5F9;
$body-background-light: #F5F5F5;
$background-light: #F5F5F5;

//Social Colors
$facebook: #052DBB;
$twitter: #00BFD9;
$skype: #00E0FF;
$linked: #085F94;

//Plans
$standard: $primary;
$professional: #F58220;
$business: $success;