<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width,initial-scale=1">
	<title>Login</title>
</head>

<body>
	<section class="h-100" *ngIf="!isScan">
		<div class="container h-100">
			<div class="row justify-content-sm-center h-100">
				<div class="col-xxl-4 col-xl-5 col-lg-5 col-md-7 col-sm-9">
					<div class="text-center my-5">
						<img src="https://getbootstrap.com/docs/5.0/assets/brand/bootstrap-logo.svg" alt="logo"
							width="100">
					</div>
					<div class="card shadow-lg">
						<div class="card-body p-5">
							<h1 class="fs-4 card-title fw-bold mb-4">Loginss <span href="#" class="float-end button-Link" *ngIf="showPassword" (click)="loginViaScan()">
								Login Via Scan 
							</span></h1>
							<form [formGroup]="formLogin" novalidate class="needs-validation" autocomplete="off">
								<div class="mb-3">
									<label class="mb-2 text-muted" for="email">E-Mail Address<sup class="winput-error">*</sup></label>
									<input id="email" type="email" class="form-control" name="email"
										formControlName="email" value="" autofocus>
									<span class="winput-error" *ngIf="formErrors.email"> {{formErrors.email}}</span>
									<span class="winput-error" *ngIf="invalidCredentials"> Credentials is not valid</span>
								</div>
								<div class="mb-3">
									<div class="mb-2 w-100">
										<label class="text-muted" for="password">Password<sup class="winput-error">*</sup></label>
										<a href="#" routerLink='/forgotpwd' class="float-end">
											Forgot Password?
										</a>
									</div>
									<input id="password" [type]="showPassword ? 'password':'text'"
										formControlName="password" class="form-control" name="password">

									<span class="winput-error" *ngIf="formErrors.password">
										{{formErrors.password}}</span>
									<span href="#" class="float-end button-Link" *ngIf="showPassword" (click)="showHidePassword()">
										Show?
									</span>
									<span href="#" class="float-end button-Link" *ngIf="!showPassword" (click)="showHidePassword()">
										Hide?
									</span>
								</div>

								<div class="d-flex align-items-center">
									<div class="form-check">
										<input type="checkbox" name="remember" id="remember" class="form-check-input">
										<label for="remember" class="form-check-label">Remember Me</label>
									</div>
									<button type="button" (click)="insertLoginDetail()" class="btn btn-primary ms-auto">
										Login
									</button>
								</div>
							</form>
						</div>
						<div class="card-footer py-3 border-0">
							<div class="text-center">
								Don't have an account? <a href="#" routerLink='/register' class="text-dark">Create
									One</a>
							</div>
						</div>
					</div>
				
				</div>
			</div>
		</div>
	</section>
	<app-read-qrcode *ngIf="isScan"></app-read-qrcode>


	<!-- <span href="#" class="float-end button-Link" *ngIf="isScan" (click)="backToLogin()">
		Back to login 
	</span> -->


	<section class="h-100" *ngIf="isScan">
		<div class="container h-100">
			<div class="row justify-content-sm-center h-100">
				<div class="col-xxl-4 col-xl-5 col-lg-5 col-md-7 col-sm-9">
					
					<span href="#" class="float-end button-Link" *ngIf="isScan" (click)="navigateToLogin()">
						Back to login 
					</span>
				
				</div>
			</div>
		</div>
	</section>

</body>
</html>